<%- include("partials/header.ejs") -%>
<div id="forecast">
  <h1>Weather in <%= weatherLoc %>, <%= weatherNT %>:</h1>
  <div id="overview">
    <h2><img src="http://openweathermap.org/img/wn/<%= weatherImg %>@2x.png"/><%= weatherDes %></h2>
  </div>
  <div id="temps">
    <h3><img src="https://img.icons8.com/windows/64/000000/temperature-sensitive.png"/>Feels Like: <%= weatherTemp %>°C</h3>
    <h3><img src="https://img.icons8.com/windows/64/000000/temperature-low.png"/>Min Temp: <%= weatherMin %>°C</h3>
    <h3><img src="https://img.icons8.com/windows/64/000000/temperature-high.png"/>Max Temp: <%= weatherMax %>°C</h3>
  </div>
  <div id="extraInfo">
      <h3><img src="https://img.icons8.com/metro/52/000000/pressure.png"/>Pressure: <%= weatherPres %>Pa</h3>
      <h3><img src="https://img.icons8.com/metro/52/000000/humidity.png"/>Humidity: <%= weatherHum %>%<h3>
      <h3><img src="https://img.icons8.com/metro/52/000000/speed.png"/>Wind Speed: <%= weatherWind %>m/s</h3>
  </div>
</div>
<%- include("partials/footer.ejs") -%>
