<%- include("partials/header.ejs") -%>
  <div id="loginForm">
    <img src="https://img.icons8.com/office/60/000000/partly-cloudy-day--v2.png" alt="Weather-img" />
    <br />
    <h2>Please Login</h2>
    <% if(success_msg!= '') { %>
      <span><%=success_msg %> </span>
      <% } %>
    <% if(error_msg != '') { %>
      <span><%= error_msg %></span>
      <% } %>
    <% if(error != '') { %>
      <span><%= error %></span>
      <% } %>
<%- include("partials/loginForm.ejs") -%>
  </div>
<%- include("partials/footer.ejs") -%>
